body, html {
    height: 100%;
}
#wrapper {
    height: 100%;
    background-color: pink;
}
#map {
    background-color: blue;
}
#status {
    background-color: purple;
}
#inventory {
    width: 25%;
    height: 80%;
    float:right;
    background-color: red;
}
#items {
    width: 50%;
    height: 100%;
    float:right;
    background-color: darkred;
}
#actions {
	height: 100%;
	background-color: deeppink;
}
#buttons {
    width: 15%;
    height: 80%;
    float:left;
    background-color: darkorange;
}
#messages {
    background-color: lightgrey;
    height: 80%;
}
