body, html {
    height: 100%;
}
#wrapper {
    height: 100%;
    background-color: pink;
}
#map {
    background-color: blue;
}
#status {
    background-color: purple;
}
#buttons {
    width: 15%;
    height: 90%;
    float:left;
    background-color: darkorange;
}
#messages {
    background-color: lightgrey;
    height: 80%;
}
#inventory {
	position: absolute;
	display: none;
	top : 20%;
	left : 25%;
	width : 50%;
	height : 60%;
	background-color: hotpink;
}
